
*{
    font-family: 'Montserrat', sans-serif;
}
.backgroundContainer{
   /* background-image: url("grey.jpg");
    background-size: cover;*/
    display: flex;
    align-items: center;
    height: 700px;
    flex-direction: column;
    background-color: white;
   
}


.backLinkContainer{
    width: 80%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.backLink{
    color: rgb(23, 47, 184);

}

.container1{
    width: 80%;
    border-radius: 10px;
}

.background{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 20px;
    width: 100%;
    border-radius: 10px;
}

.header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 20px;
}

h1{
    color: rgb(23, 47, 184);
    margin: 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.header-links{
    display: flex;
    
}


.submit-btn{
    border: none; 
    color:  white;
    border-radius: 10px;
    width: 48%;
    height: 30px;
    cursor: pointer;
    background-color:rgb(23, 47, 184);
    font-size: 1.1em;
    font-weight: bold;
}

.submit-btn:hover {
    background-color:rgb(33, 66, 250);
}


.btn-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.reset-btn{
    border: 2px solid  rgb(23, 47, 184);
    color:  black;
    border-radius: 10px;
    width: 48%;
    height: 30px;
    cursor: pointer;
    border-color:  rgb(23, 47, 184);
    font-size: 1.1em;
    font-weight: bold;
    background-color: transparent;
}

.reset-btn:hover {
    background-color:rgb(33, 66, 250);
    color: white;
    border: none;
}


.add-btn{
    font-weight: bold;
    color: white;
    text-decoration: none;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(23, 47, 184);
    font-size: 1.1em;
}

.add-btn:hover {
    background-color: rgb(33, 66, 250);
}
a:link {
    text-decoration: none;
}

.selectedProducts{
    font-weight: bold;
}





.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 10px 0px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #dbdbdb;
    border-style: solid;
    box-shadow: 0 3px 20px -10px rgba(0,0,0,.75);
}



ul{
    list-style-type: none;
    align-items: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.searchField{
    width: 100%;
}

.inputContainer{
    border-bottom: 1px solid black;
    margin-top: 30px;
}

.product{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    font-size: 1.1em;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background-color: transparent;
    font-style: italic;
}

::placeholder {
    color:black;
   
   }






ul{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.product-btn{
    width: 100%;
    height: 20px;
    text-align: left;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;   
}

li:nth-child(odd) button {
    background-color:rgb(235, 231, 231, 0.5);
}
  
li:nth-child(even) button {
    background-color:white;
}

.add-btn-container{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex; 
    margin-bottom: 10px;
}

p{
    margin: 0px 10px;
   
    color: rgb(23, 47, 184);
}

p:hover {
    font-weight: bold;
}

.doseContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.dose{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    background-color:white;
    border-radius: 10px;
    height: 60px;
    font-size: 1.1em;
    font-weight: bold;
    width: 48%;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(23, 47, 184);
}

.calculatedDoseContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
   margin-bottom: 20px;
   font-weight: bold;
}

.info{
   
    margin-bottom: 30px;
}



.infoText{
    color: black; 
}

.infoText:hover {
    font-weight: normal;
}

a{
    color: white; 
}

a:hover{
    font-weight: bold;
    
}
.links{
    text-align: left;
}

.link-btn{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: rgb(23, 47, 184);
    height: 22px;
    color: white;
    
}

.link-btn:hover{
    background-color: rgb(33, 66, 250);  
}

.errorMessage{
    color: red;
}

@media (min-width: 650px){
    .container1 {
        width: 60%;
        
    }

    .link-btn{
        height: 25px;
    }
}

@media (min-width: 900px){
    .container1 {
        width: 40%;
        
    }

    .link-btn{
        height: 30px;
    }
}